.modal {
  position: absolute;
  right: 130px;
  top: 63px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 2em;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.input {
  margin-bottom: 30px;
}

@media (max-width: 578px) {
  .modal {
    right: 0;
    left: 0;
    top: 130px;
    width: auto;
    margin: 0px 12px;
  }
}
