.input {
  padding: 6px;
  margin-top: 7px;
  border: none;
  border: 2px solid #cccccc;
  border-radius: 4px;
  border-style: double;
}
.label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
}

.input:focus {
  outline: none;
}
.error {
  font-size: 10px;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 0;
  color: red;
  right: 0;
}
