.button {
  height: 2em;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0em 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.button span {
  padding: 13px;
}
