.title {
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  margin: 1em auto;
  border-bottom: 3px solid var(--color-principal);
}

.title h1 {
  padding: 0;
  margin: 0.5em 0;
}

.md {
  font-size: 1.5em;
}

.lg {
  font-size: 3em;
}
.upper{
  text-transform: uppercase;
}

@media (max-width: 578px) {
  .lg {
    font-size: 1.5em;
  }
  .md {
    font-size: 1em;
  }
}
