.bodyCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .bodyCards {
    display: block;
  }
}
.container {
  width: 80%;
  margin: 30px auto;
}
