.card {
  box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-top: 2em;
  background-color: white;

}

.body {
  padding: 2em;
 
}
