.footerContainer {
  background-color: black;
  width: 100%;
  bottom:0;
  left:0;
  margin-top: auto;
}

.footer {
  height: 20px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.footer p {
  margin: 0;
  padding: 0;
  color: white;
}

@media (max-width: 578px) {
  .footer {
    display: block;
    height: 150px;
    margin-top: 20px;
    text-align: center;
  }
  .footer p {
    margin: 30px;
  }
}