.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-items: center;
}

.gridItem p,
.gridItem2 p {
  margin: 0;
  padding: 0;
}
.country {
  font-size: 12px;
  color: rgb(198, 198, 198);
  font-weight: bold;
  margin: 5px;
}
.city {
  font-size: 18px;
  color: #c6c6c6;
  font-weight: bold;
  margin: 5px;
}

.day {
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.dayWeather {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dayCelsiusTemperature {
  font-size: 70px;
  font-weight: bold;
}
.dayCelsiusTemperature span {
  font-size: 50px;
  margin: 0;
}

.dayFahrenheitTemperature {
  font-size: 20px;
  font-weight: bold;
}

.gridItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iconWeather {
  margin: 0 auto;
}
.rain,
.wind,
.humidity {
  font-size: 15px;
  text-align: right;
}

.idle {
  text-align: center;
  font-size: 20px;
}

.loading {
  display: grid;
  place-content: center;
  margin-top: 30px;
  place-items: center;
}

@media (max-width: 1175px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .gridItem2 {
    align-items: center;
    margin-bottom: 10px;
  }
}
