.navContainer {
  background-color: var(--color-principal);
  margin: 0;
  padding: 0;
  height: 63px;

}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0em 2em;
  padding-top: 3px;
}


.nav .button{
  margin-top: 14px;
}

.nav h1 {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}
.user span {
  padding-top: 4px;
  padding-left: 4px;
  cursor: pointer;
}

@media (max-width: 578px) {
  .navContainer{
    height: 100%;
  }
  .nav {
    display: block;
    text-align: center;
    padding: 20px;
  }
}
